body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #a3ae93;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #c97d77;
  font-family: champagne_limousines;
}

.login-container input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 80%;
  padding: 10px;
  background-color: #c97d77;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background-color: #a65c57;
}

.cadastro-link {
  margin-top: 15px;
  font-size: 0.9em;
  text-decoration: none;
}

.cadastro-link a {
  color: #c97d77;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
}